{% extends 'base.html' %}
{% block title %}objetos{% endblock %}
{% block body %}
    {% if user.is_authenticated  %}
    <br>
    <br>
    <div class = "text-center">
        <a href="{% url 'create' %}" class="btn btn-success">Añadir</a>
    </div>
    <section>
    <div class='container-fluid'>
        {% for product in products %}
        <div class="card mx-auto col-md-3 col-10 mt-5">
            <!--"https://i.imgur.com/pjITBzX.jpg"-->
            {% if product.image %}  
            <img class='mx-auto img-thumbnail'
                src= "{{product.image.url}}"
                width="auto" height="auto"/>
            {% else %}
            <img class='mx-auto img-thumbnail'
                src= "https://i.imgur.com/pjITBzX.jpg"
                width="auto" height="auto"/>
            {% endif %}
            <div class="card-body text-center mx-auto">
                <div class='cvp'>
                    <h5 class="card-title font-weight-bold">{{product.name}}</h5>
                    <p class="card-text">{{product.price}}</p>
                    
                    <a href="{% url 'update' product.ProductId %}" class="btn btn-primary">Edit  </a>
                    <a href="{% url 'delete' product.ProductId %}" class="btn btn-primary">Delete  </a>
                </div>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <br>
        <br>
        <div class="text-center">
        <h1>404</h1>
        </div>
        <br>
        <br>
        <br>
        <br>
        {% endif %}
    </div>
    </section>
    <br>
    <br>
{% endblock %}



